body {
    background-color: #f9f7f1;
}

.sec-header3 {
    margin-top: 30px;
    margin-bottom: 20px;
    margin-left: 350px;
    margin-right: 350px;
    height: 3em;
    font-size: 20px;
}

.sec-header3 h2 {
    color: #0e1322;
    font: 2.43em/1em "Playball", sans-serif;
    margin: 0;
    margin-top: 0px;
    padding: 0;
    text-align: center;
}


/*blog style*/

.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.blog-style {
    justify-content: center !important;
}

.Destination_section {
    width: 100%;
}

.col-des-gallery {
    position: relative;
}

.col-blog {
    flex: 0 0 50%;
    max-width: 33.33333333%;
}

.block-5 {
    list-style: none;
    position: relative;
}

.block-5:before {
    content: "";
    display: block;
}

.post-img-cover {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 400px;
    width: 350px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 10px;
    list-style: none;
    position: relative;
    background-position: center;
    border-radius: 24px;
}

.post-img-cover:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 24px;
    background: linear-gradient( to bottom, transparent 0%, transparent 18%, rgba(0, 0, 0, 0.8) 99%, rgba(0, 0, 0, 0.8) 100%);
}

.post_text {
    left: 0;
    padding: 30px 10px 10px 30px;
    position: absolute;
    bottom: 20px;
    width: 350px;
    color: #ffffff;
}

.post-category {
    margin-bottom: 0;
    color: #1ba0e2;
    font-weight: bold;
}

h3.heading {
    color: var(--color_3);
    margin: 0 0 10px 0;
    padding: 0;
    font-weight: bold;
    font-size: 24px;
    line-height: 1.2;
    font-weight: 400;
}

.post-meta {
    line-height: 1.4;
    color: var(--color_3);
    font-size: 14px;
    line-height: 1.4;
    color: var(--color_3);
    font-size: 14px;
}

.post-meta span {
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 10px;
    opacity: 0.6;
}

.icon-star {
    margin-right: 2px;
}

.icon-star:before {
    content: "\f005";
    font-family: FontAwesome;
}

.icon-star-half-full:before {
    content: "\f123";
    font-family: FontAwesome;
}

.categories-title h2 {
    font-size: 20px;
    margin: auto;
    padding-left: 15px;
    font-weight: bold;
}


/* mini blog */

.img-blog-mini-post {
    display: block;
    position: absolute;
    left: 15px;
    height: 80px;
    width: 80px;
    margin-top: 10px;
    margin-bottom: 20px;
    background-position: 50% 50%;
    background-size: cover;
    border-radius: 7px;
}

.blog-mini-post-content {
    display: flex;
    align-items: center;
    width: 93%;
    bottom: 0 !important;
    padding-left: 125px;
    min-height: 80px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.blog-mini-post-content-container a {
    color: #2b2b2b;
}

.blog-mini-post-content-container a:hover {
    text-decoration: underline #2b2b2b;
}

.post-title {
    font-size: 15px;
}

.post-auhor-date {
    color: #636363;
}

.post-time {
    position: absolute;
    color: #636363;
    right: 25px;
}


/* blog slide */

.blog-slide-cover {
    height: 800px;
    margin-top: 50px;
    background-image: url("../img/blog/cover-slide.jpg");
    background-position: center
}

.blog-slide {
    width: 1200px;
    margin: 50px auto;
}

.sec-header4 h2 {
    color: #ffffff;
    font: 2.43em/1em "Playball", sans-serif;
    font-size: 4.5em;
    margin: 0;
    margin-top: 0px;
    margin-top: 0px;
    padding: 0;
    text-align: center;
}

.blog-slide-header {
    padding-top: 50px;
    margin-top: 50px;
}

.sec-footer h2,
.sec-footer p {
    color: #ffffff;
    padding-left: 100px;
}

.blog-btn-join {
    position: relative;
}

.btn-join {
    height: 50px;
    width: 150px;
    background-color: #e08700;
    color: #ffffff;
    border: 0;
    border-radius: 8px;
    position: absolute;
    bottom: 40px;
    right: 100px;
}

.blogs-more {
    margin-top: 80px;
}

.btn-more {
    margin: 50px 500px 50px 500px;
}

.btn-more button {
    height: 50px;
    width: 150px;
    background-color: #e08700;
    color: #ffffff;
    border: 0;
    border-radius: 8px;
}