/***********
1. Fonts
***********/

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800');
@font-face
{
	font-family: 'Beyond';
	src: url('../fonts/beyond_the_mountains.otf')  format('truetype'),
		 url('../fonts/beyond_the_mountains.ttf')  format('opentype');
}


/*********************************
2. Body 
*********************************/
*{
    margin: 0;
    padding: 0;
}


/***********************************
Header
************************************/
header.header {
    width: 100%;
	position: fixed;
	background:#80808000;
	color: white;
}
.top-bar{
	width: 100%;
	height: 38px;
	background: #00000077 !important;
}
.phone {
    display: inline-block;
    margin-right: 36px;
    font-size: 13px;
    line-height: 36px;
}
.social{
	margin-right: 50%;
}
.social_list_item {
	display: inline-block;
	margin-right: 5px;
}
.social_list_item:last-child
{
	margin-right: 0px;
}
.social_list_item a {
    display: block;
    width: 100%;
    height: 100%;
    padding-left: 10px;
    padding-right: 10px;
    line-height: 36px;
}

.social_list_item a i {
	font-size: 14px;
	color: #FFFFFF;
}

.user_box_link a:hover
{
	color: #fa9e1c;
	text-decoration: none;
}
.user_box{
	
}
.user_box_link {
   display: inline-block;
}
.user_box a{
	font-size: 13px;
	line-height: 36px;
	font-weight: 600;
	color: #FFFFFF;
}
.user_box_login
{
	margin-right: 15px;
}
.user_box_login::after
{
	display: block;
    position: absolute;
    top: 14px;
    right: 368px;
    background: #FFFFFF;
    width: 2px;
    height: 11px;
    content: '';
}

.nav-menu-header{
	padding: 2.5rem 1rem !important;
}

.nav_menu_content {
	margin: auto;
	height: 100%;
}
.main_nav_item{
	display: inline-block;
	margin-right: 40px;
}
.header_logo{
	
}
.nav_list{
	margin-left: 0;
    margin-right: 0;
	margin-bottom: 0px;
	padding-left: 100px;
	height: 100%;
}
.main_nav_item{
	position: relative;
	top:50%;
}
.main_nav_item a
{
	font-family: 'Open Sans', sans-serif;
	font-size: 13px;
	font-weight: 900;
	color: #FFFFFF;
	text-transform: uppercase;
	
}
.main_nav_item a:hover{
	text-decoration: none;
}


