
.sec-header {
    position: relative;
    display: table;
    width: 100%;
}

.sec-header h2 {
    color: #0e1322;
   
    padding: 0;
}

.sec-header h3 {
    color: #aaaaaa;
   
    margin: 0 0 2.7em;
    padding: 0;
    font-style: italic;
    position: relative;
}

.voucher-main {
    padding-top: 5em;
    padding-bottom: 5em;
}

.voucher-dark-theme {
    position: relative;
    overflow: hidden;
    background: #f6f6f8;
}

section.row,
header.row,
footer.row {
    position: relative;
}

section.row {
    margin: 0;
    position: relative;
}

.img-responsive {
    width: 100%;
}

.img-holder {
    width: 42.66666667%;
    position: relative;
    padding-top: 50px;
}

.img-holder .overlay {
    position: absolute;
    top: 5%;
    right: -10%;
    border-radius: 100%;
    border: 5px solid #fff;
    background: #85ab00;
    width: 120px;
    height: 120px;
    text-align: center;
    margin-top: 50px;
}

.img-holder .col-pink {
    background: #d16094;
}

.img-holder .overlay p {
    color: #fff;
    padding: 0.25em;
    padding-left: 0.17em;
    margin: 0;
   
    text-align: center;
}

.img-holder .overlay p span {
    color: #fff;

    display: block;
}

.voucher-content {
    width: 57.333333333%;
    padding: 40px 0 0;
}

.voucher-content h2 {
    color: #0e1322;
  
    margin: 0 0 0.6em;
    padding: 0;
    position: relative;
}

.voucher-content p {
    color: #898989;
    margin: 0 0 3em;
    padding: 0;
  
}

.voucher-content {
    position: relative;
    padding-left: 8em;
}

.voucher-b-main {
    float: left;
}

.voucher-b-but {
    float: left;
}

.voucher-b-but .res-btn {
    background: #85ab00;
    padding: 0.5em 1.7em;
    color: #fff;
}

.voucher-b-but .res-btn:hover {
    background: #ffb606;
    color: #fff;
}

.voucher-b-but .col-pink {
    background: #d16094;
}

.voucher-b-price {
    float: left;
    margin-left: 2em;
}

.voucher-b-price p {
    color: #242424;
    padding: 0 0 0;
    margin: 0;
}

.voucher-b-price p span {
    display: block;
    
    font-style: italic;
    color: #888;
}