
.container-fluid {
    width: 100%;
    padding-right: 0px;
    padding-left: 0px;
    margin-right: auto;
    margin-left: auto;
}
ul.container-header {
    display: flex;
    justify-content: center;
    background:black;
    color: white;
    font-size: 20px;
}
li {

    padding: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    transition: 1s;
    list-style: none;
}
li:hover{
    background: rgb(202, 166, 6);
    color:white;
    cursor: pointer;
    transition: 1 s;
}